#content {
    background: url('../../assets/mist.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 4vh;
  }

  .card-body{
    height: 700px !important;
  }

  .navbar-dark .navbar-brand{
      color: hotpink !important;
  }

  #map {
    height: 100%;
  }