body {
    background: url('../../assets/mist.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 800px;
    padding-top: 1%;
  }

  .card-body{
    height: 700px !important;
  }

