    <!-- Masthead-->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">MMF</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Mission Minimize Fire</h2>
          <a class="btn btn-primary" (click)="onClickScroll('about')">Read more</a>
        </div>
      </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Mission Minimize Fires</h2>
            <p class="text-white-50">
                Ved brug af MMF kan vi forbedre forholdene for Livet på land og den Klimaindsats der er.
                Via en forbindelse til satelite via vores software kan du få set et kort af jorden og dets temperatur af jordens overflade.
                Den information bruges derefter til at lokalisere de steder hvor der mest sårbarhed for at brand kan opstå.
                
            </p>
          </div>
        </div>
        <img class="img-fluid" src="assets/img/ipad.png" alt="" />
      </div>
    </section>

    
    <section class="projects-section bg-light" id="project">
        <div class="container">
            
            <!--
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="" />
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>text</h4>
              <p class="text-black-50 mb-0">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>

        <div class="row align-items-right no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="" />
            </div>
            <div class="col-xl-4 col-lg-5">
              <div class="featured-text text-center text-lg-left">
                <h4>text</h4>
                <p class="text-black-50 mb-0">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        -->

        <!-- Project One Row-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0 bg-black">
          <div class="col-lg-6"><img class="img-fluid" src="assets/fire1.jpg" alt="" /></div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Facts 2020</h4>
                  <p class="mb-0 text-white-50">Allerede i 2020 har der været 7,099 ildebrande og det er gået ud over 1,603,541 acres (648,930 ha), i 2020 er der sket 33,917 naturbænde over 2.3 million acres.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Project Two Row-->
        <div class="row justify-content-center no-gutters bg-black">
          <div class="col-lg-6"><img class="img-fluid" src="assets/fire2.jpg" alt="" /></div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">text</h4>
                  <p class="mb-0 text-white-50">Der har været så mange massive naturbrande hvor mennesker har mistet deres hjem og dem de holder af,
                       dette burde havde vakt en del debat og forargelse,
                        Men hvorfor er der ikke fundet flere teknikker på brænd bekæmpelse eller 
                        rettere forhindring af større naturbrande via og ved brug af teknologi?
                    Det er derfor MMF eksistere, nemlig for at bruge teknologi bedre til formindskning af naturbrænde.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Space-->
    <section class="signup-section" id="space">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

          </div>
        </div>
      </div>
    </section>
