
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Sortering</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Årgang</a>
          <a href="#" class="list-group-item">Mest sårbare</a>
          <a href="#" class="list-group-item">Mindst sårbare</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="../../assets/heli.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="../../assets/fly.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="../../assets/skovbrand.jpg" alt="Third slide">
            </div>
          </div>
        </div>

        <div class="row">

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Navn</th>
                  <th>Cordinat N</th>
                  <th>Cordinat E</th>
                  <th>Temperatur</th>
                  <th>Land</th>
                  <th>Jord fugtighed</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let place of places">
                    <td>{{place.id}}</td>
                    <td>{{place.name}}</td>
                    <td>{{place.cordinatesN}}</td>
                    <td>{{place.cordinatesE}}</td>
                    <td>{{place.temperature}}</td>
                    <td>{{place.country}}</td>
                    <td>{{place.soilMoisture}}</td>
                  </tr>
              </tbody>
            </table>
          </div>


        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->



  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>