<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">MMF</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Mission Minimize Fire</h2>
        <a class="btn btn-primary js-scroll-trigger" href="#about">Read more</a>
      </div>
    </div>
  </header>
  <!-- About-->
  <section class="about-section text-center" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Text about MMF</h2>
          <p class="text-white-50">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua.

            <a href="https://startbootstrap.com/template-overviews/grayscale/">Text</a>
            .Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
        </div>
      </div>
      <img class="img-fluid" src="assets/img/ipad.png" alt="" />
    </div>
  </section>
  <!-- Projects-->
  <section class="projects-section bg-light" id="projects">
    <div class="container">
      <!-- Featured Project Row-->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="" />
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Shoreline</h4>
            <p class="text-black-50 mb-0">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
      <!-- Project One Row-->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img class="img-fluid" src="assets/MMF.png" alt="" /></div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Text</h4>
                <p class="mb-0 text-white-50">AUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                  ut aliquip ex ea commodo consequat.</p>
                <hr class="d-none d-lg-block mb-0 ml-0" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Project Two Row-->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6"><img class="img-fluid" src="assets/MMF.png" alt="" /></div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">text</h4>
                <p class="mb-0 text-white-50">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                  ut
                  aliquip ex ea commodo consequat.</p>
                <hr class="d-none d-lg-block mb-0 mr-0" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Space-->
  <section class="signup-section" id="signup">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

        </div>
      </div>
    </div>
  </section>