<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top" (scroll)="onWindowScroll($event);" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">MMF</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="/front-page" routerLinkActive="active">Hjem</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="/archive" routerLinkActive="active">Arkiv</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="/application" routerLinkActive="active">Applikation</a></li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>

<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container">Copyright © ThinkTeckDk 2020</div>
  </footer>
